.nav-list{
    padding: 0 0 0 0;
    list-style: none;
    display: inline-block;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}
.nav-item{
    margin-left: 31px;
    margin-right: 31px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.nav-item-link{
    text-decoration: none;
    color: red;
    font-style: normal;
}

body
{
    margin: 0;
}

.image
{
    width: 100%;
}
h2{
   padding: 0 0 0 0;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: black;
}
p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2.4px;
    line-height: 26px;
    margin: 67.5px;
}
.btn {
    #position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    margin-left: auto;
    margin-right: auto;

    background: #FF0000;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    border: none;
    margin-bottom: 42px;
}
footer
{
    margin-top: 40px;
    margin-right: 105px;
    margin-bottom: 29px;
    text-align: right;

    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    #display: flex;
    align-items: center;
    letter-spacing: 2.4px;

    color: #373737;
}

.text-button
{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    color: #FFFFFF;
}

